@font-face {
  font-family: "ek";
  src: url("fonts/ek.eot?mrx4db");
  src: url("fonts/ek.eot?mrx4db#iefix") format("embedded-opentype"),
    url("fonts/ek.ttf?mrx4db") format("truetype"),
    url("fonts/ek.woff?mrx4db") format("woff"),
    url("fonts/ek.svg?mrx4db#ek") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "ek" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-ek-regular-alert-circle:before {
  content: "\e900";
}
.icon-ek-regular-bars:before {
  content: "\e901";
}
.icon-ek-regular-basketshopping:before {
  content: "\e902";
}
.icon-ek-regular-bell:before {
  content: "\e903";
}
.icon-ek-regular-box:before {
  content: "\e904";
}
.icon-ek-regular-brush:before {
  content: "\e905";
}
.icon-ek-regular-calender:before {
  content: "\e906";
}
.icon-ek-regular-camera:before {
  content: "\e907";
}
.icon-ek-regular-caution:before {
  content: "\e908";
}
.icon-ek-regular-check:before {
  content: "\e909";
}
.icon-ek-regular-circle-check:before {
  content: "\e90a";
}
.icon-ek-regular-close:before {
  content: "\e90b";
}
.icon-ek-regular-coupon:before {
  content: "\e90c";
}
.icon-ek-regular-customer-center:before {
  content: "\e90d";
}
.icon-ek-regular-down:before {
  content: "\e90e";
}
.icon-ek-regular-download:before {
  content: "\e90f";
}
.icon-ek-regular-good:before {
  content: "\e910";
}
.icon-ek-regular-heart:before {
  content: "\e911";
}
.icon-ek-regular-hot:before {
  content: "\e912";
}
.icon-ek-regular-infant:before {
  content: "\e913";
}
.icon-ek-regular-institution:before {
  content: "\e914";
}
.icon-ek-regular-jeong-member:before {
  content: "\e915";
}
.icon-ek-regular-justify:before {
  content: "\e916";
}
.icon-ek-regular-kid:before {
  content: "\e917";
}
.icon-ek-regular-left:before {
  content: "\e918";
}
.icon-ek-regular-link:before {
  content: "\e919";
}
.icon-ek-regular-magazine:before {
  content: "\e91a";
}
.icon-ek-regular-mail:before {
  content: "\e91b";
}
.icon-ek-regular-map-pin:before {
  content: "\e91c";
}
.icon-ek-regular-member:before {
  content: "\e91d";
}
.icon-ek-regular-mic:before {
  content: "\e91e";
}
.icon-ek-regular-minus-circle:before {
  content: "\e91f";
}
.icon-ek-regular-multi-member:before {
  content: "\e920";
}
.icon-ek-regular-palette:before {
  content: "\e921";
}
.icon-ek-regular-pause:before {
  content: "\e922";
}
.icon-ek-regular-pen:before {
  content: "\e923";
}
.icon-ek-regular-photo:before {
  content: "\e924";
}
.icon-ek-regular-play:before {
  content: "\e925";
}
.icon-ek-regular-plus:before {
  content: "\e926";
}
.icon-ek-regular-print:before {
  content: "\e927";
}
.icon-ek-regular-right:before {
  content: "\e928";
}
.icon-ek-regular-sale:before {
  content: "\e929";
}
.icon-ek-regular-search:before {
  content: "\e92a";
}
.icon-ek-regular-settings:before {
  content: "\e92b";
}
.icon-ek-regular-square-check:before {
  content: "\e92c";
}
.icon-ek-regular-square-link:before {
  content: "\e92d";
}
.icon-ek-regular-star:before {
  content: "\e92e";
}
.icon-ek-regular-stop:before {
  content: "\e92f";
}
.icon-ek-regular-ticket:before {
  content: "\e930";
}
.icon-ek-regular-toddler:before {
  content: "\e931";
}
.icon-ek-regular-truck:before {
  content: "\e932";
}
.icon-ek-regular-up:before {
  content: "\e933";
}
.icon-ek-regular-wordcard:before {
  content: "\e934";
}
.icon-ek-solid-alert-circle:before {
  content: "\e935";
}
.icon-ek-solid-bars:before {
  content: "\e936";
}
.icon-ek-solid-basketshopping:before {
  content: "\e937";
}
.icon-ek-solid-bell:before {
  content: "\e938";
}
.icon-ek-solid-box:before {
  content: "\e939";
}
.icon-ek-solid-brush:before {
  content: "\e93a";
}
.icon-ek-solid-calender:before {
  content: "\e93b";
}
.icon-ek-solid-camera:before {
  content: "\e93c";
}
.icon-ek-solid-caution:before {
  content: "\e93d";
}
.icon-ek-solid-check:before {
  content: "\e93e";
}
.icon-ek-solid-circle-check:before {
  content: "\e93f";
}
.icon-ek-solid-close:before {
  content: "\e940";
}
.icon-ek-solid-coupon:before {
  content: "\e941";
}
.icon-ek-solid-customer-center:before {
  content: "\e942";
}
.icon-ek-solid-down:before {
  content: "\e943";
}
.icon-ek-solid-download:before {
  content: "\e944";
}
.icon-ek-solid-good:before {
  content: "\e945";
}
.icon-ek-solid-heart:before {
  content: "\e946";
}
.icon-ek-solid-hot:before {
  content: "\e947";
}
.icon-ek-solid-infant:before {
  content: "\e948";
}
.icon-ek-solid-institution:before {
  content: "\e949";
}
.icon-ek-solid-jeong-member:before {
  content: "\e94a";
}
.icon-ek-solid-justify:before {
  content: "\e94b";
}
.icon-ek-solid-kid:before {
  content: "\e94c";
}
.icon-ek-solid-left:before {
  content: "\e94d";
}
.icon-ek-solid-link:before {
  content: "\e94e";
}
.icon-ek-solid-magazine:before {
  content: "\e94f";
}
.icon-ek-solid-mail:before {
  content: "\e950";
}
.icon-ek-solid-map-pin:before {
  content: "\e951";
}
.icon-ek-solid-member:before {
  content: "\e952";
}
.icon-ek-solid-mic:before {
  content: "\e953";
}
.icon-ek-solid-minus-circle:before {
  content: "\e954";
}
.icon-ek-solid-multi-member:before {
  content: "\e955";
}
.icon-ek-solid-palette:before {
  content: "\e956";
}
.icon-ek-solid-pause:before {
  content: "\e957";
}
.icon-ek-solid-pen:before {
  content: "\e958";
}
.icon-ek-solid-photo:before {
  content: "\e959";
}
.icon-ek-solid-play:before {
  content: "\e95a";
}
.icon-ek-solid-plus:before {
  content: "\e95b";
}
.icon-ek-solid-print:before {
  content: "\e95c";
}
.icon-ek-solid-right:before {
  content: "\e95d";
}
.icon-ek-solid-sale:before {
  content: "\e95e";
}
.icon-ek-solid-search:before {
  content: "\e95f";
}
.icon-ek-solid-settings:before {
  content: "\e960";
}
.icon-ek-solid-square-check:before {
  content: "\e961";
}
.icon-ek-solid-square-link:before {
  content: "\e962";
}
.icon-ek-solid-star:before {
  content: "\e963";
}
.icon-ek-solid-stop:before {
  content: "\e964";
}
.icon-ek-solid-ticket:before {
  content: "\e965";
}
.icon-ek-solid-toddler:before {
  content: "\e966";
}
.icon-ek-solid-truck:before {
  content: "\e967";
}
.icon-ek-solid-up:before {
  content: "\e968";
}
.icon-ek-solid-wordcard:before {
  content: "\e969";
}
